/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/*______________BODY__________*/
*{ 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
   }
   body {
	   position: relative;
	   background-color: rgb(17, 17, 17);
   }
   .wrapper{
	   position: relative;
	   width: 100%;
	   height: 100vh;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   display: flex;
	   flex-direction:column;

	   justify-content: center;
	   -ms-align-items: center;
	   align-items: center;
   } 
   .slider{ /*контейнер для слайдеров*/
	position: relative;
	overflow: hidden;
	max-width: 94%; 
	height: 80%;
   }
   .slider-items{ 
	   width: 500%;
	   height: 100%;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   display: flex;
   }
   .slider-items .item{
	   width: 25%;
	   align-self: center; /*?????выравнивает тольео по вертикали*/
	   -webkit-transition: .7s;
	   -o-transition: .7s;
	   transition: .7s;
   }
   .slider-items .item img{
	   max-width: 100%;
	   height: auto;
   }
   .slider-items input{
	   position: absolute; /*возможно ли удалить?*/
	   visibility: hidden;
   }
   .sl-nav-text{/*контейнер для текста и новигаци*/
	position: relative;
	overflow: hidden;
	width: 94%; 
	height: 15%;
	margin-top: 1%;
	display: flex;
	justify-content: space-between;
   }
   .sl-text{
	position: relative;
   }
   p{
	   font-size: 1.5em;
	   color: ivory;
   }
   .sl-nav{
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
   }
   .sl-nav .slider-nav-item{
		height: 1.5em;
		width: 1.5em;
		background-color: rgb(65, 65, 251);
		border-radius: 50%;
		margin: 0.2em;
		cursor: pointer;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
   }
   .sl-nav .slider-nav-item:hover{
		background-color: ivory;
	}
   .active, .slider-nav-item:checked{
	background-color: rgb(17, 17, 17);
	/*border: solid 3px rgb(65, 65, 251);*/
	}
   #s1:checked ~ .s1{
	   margin-left: 0;
   }
   #s2:checked ~ .s1{
		margin-left: -25%;
	}
	#s3:checked ~ .s1{
		margin-left: -50%;
	}
	#s4:checked ~ .s1{
		margin-left: -75%;
	}